<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a [routerLink]="['/']" fragment="home" class="logo d-flex align-items-center">
      <h1 class="sitename">Mariana Naselli</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a [routerLink]="['/']" fragment="home" (click)="scrollToSection('home')"
            >Home</a
          >
        </li>
        <li><a [routerLink]="['/']" fragment="about" (click)="scrollToSection('about')">About</a></li>
        <li><a [routerLink]="['/']" fragment="portfolio" (click)="scrollToSection('portfolio')">Portfolio</a></li>
        <li><a [routerLink]="['/']" fragment="contact" (click)="scrollToSection('contact')">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
