<div class="page-title" data-aos="fade">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">{{ project.title }}</h1>
  </div>
</div>

<!-- Portfolio Details Section -->
<section class="portfolio-details section" id="portfolio-details">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-between gy-4">
      <div class="col-lg-8" data-aos="fade-up">
        <div class="portfolio-description">
          <h2 class="text-justify">{{ project.description_short }}</h2>
          <p class="text-justify">
            {{ project.description_long }}
          </p>
        </div>
      </div>
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="portfolio-info">
          <h3>Información del proyecto</h3>
          <ul>
            <li>
              <strong>Tecnologías</strong>
              <div class="technologies">
                <!-- Iterar sobre las tecnologías y mostrar un badge por cada una -->
                <span
                  *ngFor="let tech of getTechnologyBadges(project.technologies)"
                  class="badge bg-primary me-2"
                >
                  {{ tech }}
                </span>
              </div>
            </li>
            <li><strong>Cliente</strong> {{ project.client }}</li>
            <li><strong>Fecha</strong> {{ project.date }}</li>
            <li>
              <strong>URL</strong>
              <a [attr.href]="project.url" target="_blank" rel="noopener noreferrer">
                {{ project.url }}
              </a>
              
              
            </li>
            <li>
              <strong>GitHub</strong>
              <a [attr.href]="project.url_github" target="_blank" rel="noopener noreferrer">
                {{ project.url_github }}
              </a>
              
              
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Portfolio Images Carousel -->
    <div class="row justify-content-center mt-4">
      <div class="col-lg-6">
        <p-carousel
          [circular]="true"
          [value]="project.carrousel_images"
          [numVisible]="1"
          [numScroll]="1"
        >
          <ng-template let-item pTemplate="item">
            <img [src]="item" alt="Portfolio Image" class="d-block w-100" />
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio Details Section -->
