<section id="resume" class="resume section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Conocimientos IT</h2>
    <div class="technologies d-flex justify-content-center">
      <img src="assets/img/technologies/html.png" alt="HTML" title="HTML" class="tech-icon" />
      <img src="assets/img/technologies/css.png" alt="CSS" title="CSS" class="tech-icon" />
      <img src="assets/img/technologies/javascript.png" alt="JavaScript" title="JavaScript" class="tech-icon" />
      <img src="assets/img/technologies/angular.png" alt="Angular" title="Angular" class="tech-icon" />
      <img src="assets/img/technologies/bootstrap.png" alt="Bootstrap" title="Bootstrap" class="tech-icon" />
      <img src="assets/img/technologies/nodejs.png" alt="Node.js" title="Node.js" class="tech-icon" />
      <img src="assets/img/technologies/git.png" alt="Git" title="Git" class="tech-icon" />
      <img src="assets/img/technologies/java.png" alt="Java" title="Java" class="tech-icon" />
      <img src="assets/img/technologies/springboot.png" alt="Spring Boot" title="Spring Boot" class="tech-icon" />
      <img src="assets/img/technologies/mysql.png" alt="MySQL" title="MySQL" class="tech-icon" />
      <img src="assets/img/technologies/sql.png" alt="SQL" title="SQL" class="tech-icon" />
      <img src="assets/img/technologies/csharp.png" alt="C#" title="C#" class="tech-icon" />
      <img src="assets/img/technologies/net.png" alt="NET" title="NET" class="tech-icon" />
      <img src="assets/img/technologies/maui.jpg" alt="MAUI" title="MAUI" class="tech-icon" />
      <img src="assets/img/technologies/openia.png" alt="ChatGPT" title="ChatGPT" class="tech-icon" />
    </div>
    
    
  </div>
  
  <!-- <div class="container section-title" data-aos="fade-up">
    <h2>Conocimientos IT</h2>
    <p>{{ resumeData?.description }}</p>
  </div> -->
  <!-- End Section Title -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <!-- <h3 class="resume-title">Summary</h3>

        <div class="resume-item pb-0">
          <h4>{{ resumeData?.name }}</h4>
          <p><em>{{ resumeData?.description }}</em></p>
          <ul>
            <li>{{ resumeData?.location }}</li>
            <li>{{ resumeData?.phone }}</li>
            <li>{{ resumeData?.email }}</li>
          </ul>
        </div> -->

        <h3 class="resume-title">Educación</h3>

        <div *ngFor="let edu of resumeData?.education" class="resume-item">
          <h4>{{ edu.degree }}</h4>
          <h5>{{ edu.year }}</h5>
          <p><em>{{ edu.institution }}</em></p>
          <p class="text-justify">{{ edu.details }}</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">Experiencia Profesional</h3>

        <div *ngFor="let exp of resumeData?.experience" class="resume-item">
          <h4>{{ exp.position }}</h4>
          <h5>{{ exp.year }}</h5>
          <p><em>{{ exp.company }}</em></p>
          <ul>
            <li class="text-justify" *ngFor="let resp of exp.responsibilities">{{ resp }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


