<section id="about" class="about section" *ngIf="aboutData">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="row justify-content-between gy-4">
          <div class="col-lg-5">
            <img [src]="aboutData.image" class="img-fluid" alt="Profile Image" />
          </div>
          <div class="col-lg-7 about-info">
            <p><strong>Nombre: </strong> <span>{{ aboutData.name }}</span></p>
            <p><strong>Perfil: </strong> <span>{{ aboutData.profile }}</span></p>
            <p><strong>Email: </strong> <span>{{ aboutData.email }}</span></p>
            <p><strong>Teléfono: </strong> <span>{{ aboutData.phone }}</span></p>
          </div>
        </div>

        <div class="skills-content skills-animation">
          <h5>Skills</h5>
          <div *ngFor="let skill of aboutData.skills" class="progress">
            <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" [style.width]="skill.percentage + '%'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-me">
          <h4>Sobre mi</h4>
          <p>{{ aboutData.aboutMe }}</p>
        </div>
      </div>
    </div>
  </div>

  <section-resume></section-resume>
</section>
